{
	"root": true,
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"prettier",
		"wesbos"
	],
	"import/no-extraneous-dependencies": ["error", { "packageDir": "/" }],
	"plugins": ["react"],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		}
	}
}
