body:has(.grid-container--crew) {
	background-image: url(/crew/background-crew-mobile.jpg);
	background-size: cover;
	background-position: bottom center;
}

@media (min-width: 35em) {
	body:has(.grid-container--crew) {
		background-image: url(/crew/background-crew-tablet.jpg);
		background-position: center center;
	}
}

@media (min-width: 45em) {
	body:has(.grid-container--crew) {
		background-image: url(/crew/background-crew-desktop.jpg);
	}
}

.grid-container--crew {
	--flow-gap: 2rem;
	grid-template-areas:
		'title'
		'image'
		'tabs'
		'content';
}

.numbered-title {
	grid-area: title;
}

.grid-container--crew > picture {
	grid-area: image;
	max-width: 60%;
	/* TODO can this bottom border be img-width plus 30%? */
	border-bottom: 1px solid hsl(var(--clr-white) / 0.3);
}

.grid-container--crew > .dot-indicators {
	grid-area: tabs;
}

.grid-container--crew > .crew-details {
	grid-area: content;
}

.crew-details > header > h2 {
	color: hsl(var(--clr-white) / 0.5);
}

@media (min-width: 35em) {
	.grid-container--crew {
		grid-template-areas:
			'title'
			'content'
			'tabs'
			'image';
		padding-bottom: 0;
	}

	.grid-container--crew > picture {
		align-self: end;
	}
}

@media (min-width: 45em) {
	/* prettier-ignore */
	.grid-container--crew {
		grid-template-columns: 
			minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(1rem, 1fr);

		grid-template-areas:
			'. title image .'
			'. content image .'
			'. tabs image .';
		justify-items: start;
	}

	.grid-container--crew > picture {
		max-width: 90%;
		grid-column: span 2;
	}
}
