body:has(.grid-container--crew) {
	background-image: url(/src/assets/crew/background-crew-mobile.jpg);
	background-size: cover;
	background-position: bottom center;
}

@media (min-width: 35em) {
	body:has(.grid-container--crew) {
		background-image: url(/src/assets/crew/background-crew-tablet.jpg);
		background-position: center center;
	}
}

@media (min-width: 45em) {
	body:has(.grid-container--crew) {
		background-image: url(/src/assets/crew/background-crew-desktop.jpg);
	}
}
