body {
	background-image: url(/src/assets/destination/background-destination-mobile.jpg);
	background-size: cover;
	background-position: bottom center;
}

@media (min-width: 35em) {
	body {
		background-image: url(/src/assets/destination/background-destination-tablet.jpg);
		background-position: center center;
	}
}

@media (min-width: 45em) {
	body {
		background-image: url(/src/assets/destination/background-destination-desktop.jpg);
	}
}

.grid-container--dest {
	--flow-gap: 2rem;
	grid-template-areas:
		'title'
		'image'
		'tabs'
		'content';
}

.numbered-title {
	grid-area: title;
}

.grid-container--dest > img {
	grid-area: image;
	max-width: 60%;
}

.grid-container--dest > .tab-list {
	grid-area: tabs;
}

.grid-container--dest > .destination-info {
	grid-area: content;
}

@media (mid-width: 35em) {
	.numbered-title {
		margin-top: 2rem;
		/* TODO: why is this not working */
		justify-self: start;
	}
}

.travel-details {
	flex-direction: column;
	align-items: center;
	border-top: 1px solid hsl(var(--clr-white) / 0.1);
	padding-top: 2rem;
	margin-top: 2rem;
}
