body:has(.error-page) {
	/* TODO: change bg-pos for mobile and tablet screens */
	background-image: url(/src/assets/astronaut-floating-in-space-crop.jpg);
	background-size: cover;
}

@media (min-width: 45em) {
	body:has(.error-page) {
		background-position: bottom 40% left;
	}
}
