body:has(.error-page) {
	/* TODO: change bg-pos for mobile and tablet screens */
	background-image: url(/src/assets/astronaut-floating-in-space-crop.jpg);
	background-size: cover;
	background-position: top center;
}

main.error-page {
	border: 1px solid white;
	border-right: none;
	border-top-left-radius: 4em;
	border-bottom-left-radius: 4em;
	padding: 3rem;
	width: fit-content;
}

@media (min-width: 35em) {
	main {
		/* not working? */
		align-self: end;
		text-align: start;
	}
}

@media (min-width: 45em) {
	body:has(.error-page) {
		background-position: left;
	}

	.grid-container.error-page {
		grid-template-columns: none;
	}
}
