.primary-header {
	justify-content: space-between;
	align-items: center;
}

.logo-wrapper {
	/* display: inline-block; */
	flex: 0 0 auto;
}

.logo {
	margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
	display: inline-block;
	width: 40px;
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation {
	--gap: clamp(1.4rem, 5vw, 3rem);
	--underline-gap: 2rem;
	list-style: none;
	padding: 0;
	padding-inline: 3rem;
	margin: 0;
	background-color: hsl(var(--clr-white) / 0.04);
	backdrop-filter: blur(8px);
}

.primary-navigation a {
	text-decoration: none;
}

.primary-navigation a > span {
	font-weight: 700;
	margin-right: 0.5em;
}

/* responsive navbar for phone screens */
@media (max-width: 35em) {
	.primary-navigation {
		--gap: unset;
		--underline-gap: 0.5rem;
		padding: min(6rem, 15vh) 3rem;
		backdrop-filter: blur(12px);
		flex-direction: column;
		inset: 0 0 0 30%;
		position: fixed;
		z-index: 1000;
		transform: translateX(100%);
		transition: transform 200ms ease-out;
	}

	.primary-navigation[data-visible='true'] {
		transform: translateX(0);
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 1100;
		right: 2rem;
		top: 2rem;
		border: 0;
		background: transparent;
		background-image: url(../assets/shared/icon-hamburger.svg);
		background-position: center;
		aspect-ratio: 1;
		width: 1.5rem;
		background-repeat: no-repeat;
	}

	.mobile-nav-toggle[data-expanded='true'] {
		background-image: url(../assets/shared/icon-close.svg);
	}

	.mobile-nav-toggle:focus-visible {
		border: 2px solid hsl(var(--clr-white) / 1);
		outline-offset: 5px;
		border-radius: 5px;
	}

	.primary-navigation.underline-indicators > * {
		border: none;
	}

	.primary-navigation.underline-indicators > *:active {
		background-image: linear-gradient(
			270deg,
			hsl(var(--clr-white) / 0.3) 0%,
			transparent 50%
		);
	}
}

@media (min-width: 35em) {
	.primary-navigation {
		padding-inline: clamp(3rem, 7vw, 7rem);
	}
}

/* navbar styling for tablets */
@media (min-width: 35em) and (max-width: 44.99em) {
	.logo {
		margin: 1.5rem clamp(1.5rem, 5vw, 2.5rem);
	}

	.primary-navigation a > span {
		display: none;
	}
}

/* decorative line between logo and nav */
@media (min-width: 45em) {
	.primary-header::after {
		content: '';
		display: block;
		position: relative;
		height: 1px;
		width: 100%;
		margin-right: -2.5rem;
		background: hsl(var(--clr-white) / 0.25);
		order: 1;
	}

	nav {
		order: 2;
	}

	.primary-navigation {
		margin-block: 2rem;
	}
}
