body:has(.grid-container--tech) {
	background-image: url(/src/assets/technology/background-technology-mobile.jpg);
	background-size: cover;
	background-position: bottom center;
}

@media (min-width: 35em) {
	body:has(.grid-container--tech) {
		background-image: url(/src/assets/technology/background-technology-tablet.jpg);
		background-position: center center;
	}
}

@media (min-width: 45em) {
	body:has(.grid-container--tech) {
		background-image: url(/src/assets/technology/background-technology-desktop.jpg);
	}
}

.grid-container--tech {
	--flow-gap: 2rem;
	grid-template-areas:
		'title'
		'image'
		'tabs'
		'content';
}

.numbered-title {
	grid-area: title;
}

.grid-container--tech > img {
	grid-area: image;
}

.grid-container--tech > .number-indicators {
	grid-area: tabs;
}

.grid-container--tech > .tech-details {
	grid-area: content;
}
