body:has(.grid-container--tech) {
	background-image: url(/technology/background-technology-mobile.jpg);
	background-size: cover;
	background-position: bottom center;
}
@media (min-width: 35em) {
	body:has(.grid-container--tech) {
		background-image: url(/technology/background-technology-tablet.jpg);
		background-position: center center;
	}
}
@media (min-width: 45em) {
	body:has(.grid-container--tech) {
		background-image: url(/technology/background-technology-desktop.jpg);
	}
}

.grid-container--tech {
	--flow-gap: 2rem;
	grid-template-areas:
		'title'
		'image'
		'tabs'
		'content';
}

.numbered-title {
	grid-area: title;
}

/* TODO: in design spec, mobile image touches both sides of screen */
.grid-container--tech > img {
	grid-area: image;
}

.grid-container--tech > .number-indicators {
	grid-area: tabs;
}

.grid-container--tech > .tech-details {
	grid-area: content;
}

@media (max-width: 44.999em) {
	.row {
		flex-direction: row;
	}

	.flow.row > *:where(:not(:first-child)) {
		margin-top: 0;
		margin-left: var(--flow-gap, 1rem);
	}
}

.img-launch {
	content: url('/technology/image-launch-vehicle-landscape.jpg');
}
.img-port {
	content: url('/technology/image-spaceport-landscape.jpg');
}
.img-capsule {
	content: url('/technology/image-space-capsule-landscape.jpg');
}

@media (min-width: 45em) {
	.grid-container--tech {
		/* prettier-ignore */
		grid-template-columns: 
			minmax(1rem, 1fr) minmax(0, 1fr) minmax(0, 4fr) minmax(0, 4fr) minmax(1rem, 1fr);

		grid-template-areas:
			'. title title . .'
			'. tabs content image .';
		padding-right: 0;
	}

	.grid-container--tech > img {
		grid-column: span 2;
		justify-self: end;
	}

	.img-launch {
		content: url('/technology/image-launch-vehicle-portrait.jpg');
	}
	.img-port {
		content: url('/technology/image-spaceport-portrait.jpg');
	}
	.img-capsule {
		content: url('/technology/image-space-capsule-portrait.jpg');
	}
}
