/* ---------        --------- */
/*     Custom Properties      */
/* ---------        --------- */

:root {
	/* colors */
	--clr-dark: 230 35% 7%;
	--clr-accent: 231 77% 90%;
	--clr-white: 0 0% 100%;

	/* font-sizes */
	--fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
	/*  h1  150px */
	--fs-800: clamp(4.5rem, 6vw + 1rem, 6.25rem);
	/*   h2  100px */
	--fs-700: clamp(2.5rem, 4vw + 1rem, 3.5rem);
	/*    h3  56px */
	--fs-600: clamp(1.5rem, 2vw + 1rem, 3.5rem);
	/*      h4  32px */
	--fs-500: 1.75rem;
	/*   h5  28px */
	--fs-400: clamp(1rem, 1.125rem, 1.125rem);
	/*  p   18px */
	--fs-300: 1rem;
	/*      sh1 16px */
	--fs-200: 0.875rem;
	/*  sh2 14px */

	/* font-families */
	--ff-serif: 'Bellefair', serif;
	--ff-sans-normal: 'Barlow', sans-serif;
	--ff-sans-cond: 'Barlow Condensed', sans-serif;
}

/* ---------        --------- */
/*      Utility Classes       */
/* ---------        --------- */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.inline-flex {
	display: inline-flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.container {
	/* center content horizontally in container, with margin on sides */
	padding-inline: 2rem;
	margin-inline: auto;
	max-width: 80rem;
}

.grid-container {
	text-align: center;
	display: grid;
	column-gap: var(--container-gap, 2em);
	row-gap: var(--container-gap, 2em);
	place-items: center;
	padding-inline: 1rem;
}

.grid-container * {
	max-width: 50ch;
}

.grid-container>*:last-child {
	place-self: center;
}

@media (min-width: 45em) {
	.grid-container {
		grid-template-columns:
			minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
	}

	.grid-container>*:first-child {
		grid-column: 2;
	}

	.grid-container>*:last-child {
		grid-column: 3;
	}

	#root {
		padding-bottom: max(6rem, 15vh);
		align-items: end;
	}
}

/* in a flow container, add a margin-top gap to all children except first-child */
.flow>*:where(:not(:first-child)) {
	margin-top: var(--flow-gap, 1rem);
}

/* screen-reader only */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	/* added line */
	border: 0;
}

/* colors */

.bg-dark {
	background-color: hsl(var(--clr-dark));
}

.bg-accent {
	background-color: hsl(var(--clr-accent));
}

.bg-white {
	background-color: hsl(var(--clr-white));
}

.text-dark {
	color: hsl(var(--clr-dark));
}

.text-accent {
	color: hsl(var(--clr-accent));
}

.text-white {
	color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
	font-family: var(--ff-serif);
}

.ff-sans-cond {
	font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
	font-family: var(--ff-sans-normal);
}

.letter-spacing-3 {
	letter-spacing: 4.75px;
}

.letter-spacing-2 {
	letter-spacing: 2.7px;
}

.letter-spacing-1 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
}

.fs-800 {
	font-size: var(--fs-800);
}

.fs-700 {
	font-size: var(--fs-700);
}

.fs-600 {
	font-size: var(--fs-600);
}

.fs-500 {
	font-size: var(--fs-500);
}

.fs-400 {
	font-size: var(--fs-400);
}

.fs-300 {
	font-size: var(--fs-300);
}

.fs-200 {
	font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}

/* ---------        --------- */
/*      Style Defaults        */
/* ---------        --------- */

body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	color: hsl(var(--clr-white));
	background-color: hsl(var(--clr-dark));
	line-height: 1.5;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--fs-400);
}

#root {
	display: grid;
	grid-template-rows: min-content 1fr;
	min-height: 100dvh;
}

.numbered-title {
	font-family: var(--ff-sans-cond);
	font-size: var(--fs-500);
	text-transform: uppercase;
	letter-spacing: 4.72px;
}

.numbered-title span {
	margin-right: 0.5em;
	font-weight: 700;
	color: hsl(var(--clr-white) / 0.25);
}

/* ---------        --------- */
/*        Components          */
/* ---------        --------- */

.large-button {
	position: relative;
	z-index: 1;
	display: inline-grid;
	place-items: center;
	padding: 0 2em;
	border-radius: 50%;
	aspect-ratio: 1;
	text-decoration: none;
	font-size: 2rem;
}

/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.large-button::after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: hsl(var(--clr-white) / 0.15);
	border-radius: 50%;
	opacity: 0;
	transition: opacity 400ms ease-out, transform 100ms ease-out;
}

.large-button:is(:hover, :focus)::after {
	opacity: 1;
	transform: scale(1.5);
}

/* PRIMARY HEADER */
.primary-header {
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-navigation {
	--gap: 8rem;
	--underline-gap: 2rem;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: hsl(var(--clr-white) / 0.04);
	backdrop-filter: blur(8px);
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation a {
	text-decoration: none;
}

.primary-navigation a>span {
	font-weight: 700;
	margin-right: 0.5em;
}

/* responsive navbar for phone screens */
@media (max-width: 35rem) {
	.primary-navigation {
		--gap: unset;
		--underline-gap: 0.5rem;
		padding: min(20rem, 15vh) 3rem;
		backdrop-filter: blur(12px);
		flex-direction: column;
		inset: 0 0 0 30%;
		position: fixed;
		z-index: 1000;
		transform: translateX(100%);
		transition: transform 200ms ease-out;
	}

	.primary-navigation[data-visible="true"] {
		transform: translateX(0);
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 1100;
		right: 2rem;
		top: 2rem;
		border: 0;
		background: transparent;
		background-image: url(./assets/shared/icon-hamburger.svg);
		background-position: center;
		aspect-ratio: 1;
		width: 1.5rem;
		background-repeat: no-repeat;
	}

	.mobile-nav-toggle[data-expanded="true"] {
		background-image: url(./assets/shared/icon-close.svg);
	}

	.mobile-nav-toggle:focus-visible {
		border: 2px solid hsl(var(--clr-white) / 1);
		outline-offset: 5px;
		border-radius: 5px;
	}

	.primary-navigation.underline-indicators>* {
		border: none;
	}

	.primary-navigation.underline-indicators>*:active {
		background-image: linear-gradient(270deg,
				hsl(var(--clr-white) / 0.3) 0%,
				transparent 50%);
	}
}

/* Style for buttons for Tabs, Dots, and Numbers */
.underline-indicators>* {
	cursor: pointer;
	padding: var(--underline-gap, 1rem) 0;
	border: 0;
	border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
	transition: border-color 400ms ease-out;
}

.underline-indicators>*:where(:hover, :focus) {
	border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators>*:where(.active, [aria-selected='true']) {
	border-color: hsl(var(--clr-white));
	color: hsl(var(--clr-white) / 1);
}

.underline-indicators>*:active {
	background-image: linear-gradient(0deg,
			hsl(var(--clr-white) / 0.3) 0%,
			transparent 20%);
}

.tab-list {
	--gap: 2rem;
}

.dot-indicators>* {
	cursor: pointer;
	border: 0;
	border-radius: 50%;
	padding: 0.5em;
	background-color: hsl(var(--clr-white) / 0.25);
}

.dot-indicators>*:is(:hover, :focus) {
	background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators>[aria-selected='true'] {
	background-color: hsl(var(--clr-white) / 1);
}

.number-indicators {
	display: flex;
	--gap: 2rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.number-indicators>* {
	background-color: hsl(var(--clr-dark));
	color: var(--clr-white);
	border-radius: 50%;
	border: 1px solid hsl(var(--clr-white) / 0.25);
	padding: 0 2rem;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
}

.number-indicators>[aria-selected='true'] {
	background-color: hsl(var(--clr-white));
	color: hsl(var(--clr-dark));
}

.number-indicators>*:where(:hover, :focus) {
	border-color: hsl(var(--clr-white) / 0.5);
}

.number-indicators> :active {
	background-image: radial-gradient(circle at center,
			transparent 50%,
			hsl(var(--clr-white) / 0.5) 100%);
}

/* ---------        --------- */
/*           Header           */
/* ---------        --------- */
.primary-header {
	align-items: center;
}

.logo-wrapper {
	/* display: inline-block; */
	flex: 0 0 auto;
}

.logo {
	display: inline-block;
	width: 40px;
}

@media (min-width: 35rem) {
	.primary-header {
		margin-top: 40px;
	}

	.logo {
		width: min-content;
	}
}

@media (min-width: 45rem) {
	.primary-header {
		margin-top: 40px;
	}
}

/* ---------        --------- */
/*      Page Backgrounds      */
/* ---------        --------- */
body {
	background-size: cover;
	background-position: bottom center;
	background-image: url(/src/assets/home/background-home-mobile.jpg);
}

@media (min-width: 35rem) {
	body {
		background-image: url(/src/assets/home/background-home-tablet.jpg);
		background-position: center center;
	}
}

@media (min-width: 45rem) {
	body {
		background-image: url(/src/assets/home/background-home-desktop.jpg);
	}
}